page-cart {
  .row-empty-cart {
    color: color($colors, light-coffee);
    font-size: 1.7rem;
    text-align: center;
    padding: 8rem 2.5rem;
  }
  .row-details-cart {
    align-items: center;
    text-align: center;
    font-size: 1.8rem;
    color: color($colors, light-coffee);
    // background-color: rgba(color($colors, light-coffee), 0.1);
    background-color: #faf9f8;
    margin: 5rem 2rem;
    padding: 2rem 0;
  }
  .col-description {
    text-align: start;
    align-self: center;
    color: color($colors, dark-coffee);
    font-size: 1.5rem;
  }
}
