<ion-header>
  <custom-navbar [title]="'Carrinho'"></custom-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="!itemsCart" class="row-empty-cart">
      Você não possui nenhum produto dentro do seu carrinho.
    </ion-row>

    <div *ngIf="itemsCart">
      <ion-row *ngFor="let itemCart of itemsCart" (click)="removeProduct(itemCart)" class="row-details-cart">
        <ion-col col-9>
          <ion-row>
            <ion-col class="col-description">Produto:</ion-col>
            <ion-col>{{ itemCart.product.title }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="col-description">Quantidade:</ion-col>
            <ion-col>{{ itemCart.quantity }}</ion-col>
          </ion-row>
          <ion-row *ngIf="itemCart.product.additional && itemCart.product.additional.length">
            <ion-col class="col-description">Adicionais:</ion-col>
            <ion-col [innerHTML]="formatterAdditionals(itemCart.product.additional)"></ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <img [src]="itemCart.product.image">
        </ion-col>
      </ion-row>
    </div>

  </ion-grid>
</ion-content>