page-home {
  .row-title {
    ion-col {
      color: color($colors, light-coffee);
      text-align: center;
      font-size: 2rem;
    }
  }

  .row-product {
    align-items: center;
    justify-content: center;
    height: 8rem;
    ion-col {
      text-align: center;
    }
    img {
      width: 4rem;
    }
    label {
      color: color($colors, dark-coffee);
    }
    ion-icon {
      color: color($colors, light-coffee);
    }
  }
  .col-title {
    text-align: start !important;
  }
}
