<ion-header>
  <ion-navbar>
    <ion-row class="row-title">
      <ion-col col-10>
        Menu
      </ion-col>
      <ion-col col-2 (click)="goCart()">
        <ion-icon name="custom-shopping-cart"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="row-product border-bottom" *ngFor="let product of products" (click)="goDetails(product)">
      <ion-col col-3>
        <img [src]="product.image" [ngStyle]="{'width.rem': product.title == 'Expresso' || product.title == 'Cappuccino' ? 4 : 3}">
      </ion-col>
      <ion-col col-7 class="col-title">
        <label>
          {{product.title}}
        </label>
      </ion-col>
      <ion-col col-2>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>