<ion-navbar>
  <ion-row class="row-title">
    <ion-col col-2 (click)="backPage()">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-col>
    <ion-col col-10 class="col-title">
      {{ title }}
    </ion-col>
  </ion-row>
</ion-navbar>