custom-navbar {
  .row-title {
    ion-col {
      color: color($colors, light-coffee);
      text-align: center;
      font-size: 2rem;
    }
  }
  .col-title {
    transform: translateX(-10%);
  }
}
