// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }
  &[class*="custom-shopping-cart"] {
    background: url(../assets/icons/shopping-cart.png) center no-repeat;
    background-size: 100%;
  }
  &[class*="custom-cup"] {
    mask-image: url(../assets/icons/cup.png);
    background-size: 100%;
  }
  &[class*="custom-no-sugar"] {
    mask-image: url(../assets/icons/no-sugar.png);
    background-size: 100%;
  }
  &[class*="custom-sugar1"] {
    mask-image: url(../assets/icons/sugar1.png);
    background-size: 100%;
  }
  &[class*="custom-sugar2"] {
    mask-image: url(../assets/icons/sugar2.png);
    background-size: 100%;
  }
  &[class*="custom-sugar3"] {
    mask-image: url(../assets/icons/sugar3.png);
    background-size: 100%;
  }
  &[class*="custom-coffee"] {
    background: url(../assets/icons/coffe.png) center no-repeat;
    background-size: 100%;
  }
  &[class*="custom-chocolate"] {
    background: url(../assets/icons/chocolate.png) center no-repeat;
    background-size: 100%;
  }
  &[class*="custom-cinnamon"] {
    background: url(../assets/icons/cinnamon.png) center no-repeat;
    background-size: 100%;
  }
  &[class*="custom-milk"] {
    background: url(../assets/icons/milk.png) center no-repeat;
    background-size: 100%;
  }
  &[class*="custom-chantilly"] {
    background: url(../assets/icons/cream.png) center no-repeat;
    background-size: 100%;
    font-size: 2rem;
  }
  &[class*="custom-less"] {
    background: url(../assets/icons/less.png) center no-repeat;
    background-size: 100%;
  }
  &[class*="custom-plus"] {
    background: url(../assets/icons/plus.png) center no-repeat;
    background-size: 100%;
  }
}

.color-light-coffee {
  color: color($colors, light-coffee) !important;
}

.header {
  border-bottom: solid rgba(color($colors, light-coffee), 0.2) 0.1rem !important;
}
.header::after {
  background: none !important;
}
.header-ios .toolbar-background-ios {
  border-color: transparent !important;
}
.back-button.show-back-button {
  display: none !important;
}
ion-grid {
  padding: 0 !important;
}
.border-bottom {
  border-bottom: solid rgba(color($colors, light-coffee), 0.2) 0.1rem;
}
