page-details {
  .row-product-image {
    height: 13rem;
    background: url(../../assets/imgs/back-details.PNG) repeat;
    align-items: center;
    justify-content: center;
    img {
      max-height: fit-content;
    }
  }
  .row-product {
    padding: 1rem 2.5rem;
    align-items: center;
    font-size: 1.5rem;
    color: color($colors, dark-coffee);
    ion-icon {
      margin: 0 1rem;
    }
  }
  .col-measure {
    color: color($colors, dark);
    font-size: 1.5rem;
  }
  .col-icon-align {
    text-align: start;
  }
  .size-additional {
    font-size: 2.5rem;
  }
  .col-input-qnt {
    text-align: end;
    font-size: 0.9rem;
    label {
      font-size: 1.5rem;
    }
    ion-icon {
      margin: 0 1rem !important;
    }
  }
  .row-button {
    padding: 1rem 2.5rem;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    button {
      font-weight: 300 !important;
      border-radius: 0.5rem;
      padding: 2rem;
    }
  }
}
