<ion-header>
  <custom-navbar [title]="'Detalhes'"></custom-navbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row class="row-product-image">
      <img [src]="product.image">
    </ion-row>

    <ion-row class="row-product border-bottom">
      <ion-col col-12>
        {{product.title}}
      </ion-col>
      <ion-col col-12 class="col-measure">
        {{product.size + 2}}00 ML
      </ion-col>
    </ion-row>

    <ion-row class="row-product border-bottom">
      <ion-col col-4>Tamanho</ion-col>
      <ion-col col-8 class="col-icon-align">
        <ion-icon name="custom-cup" *ngFor="let size of sizes"
          [ngStyle]="{'font-size.rem': (size + 2), 'opacity': size == product.size ? 1 : 0.2}"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="row-product border-bottom">
      <ion-col col-4>Açucar</ion-col>
      <ion-col col-8 class="col-icon-align">
        <ion-icon [name]="sugar.iconName" *ngFor="let sugar of sugars; let i = index"
          [ngStyle]="{'font-size.rem': i == 1 ? 1.2 : '', 'opacity': i == product.sugar ? 1 : 0.2}"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="row-product border-bottom" *ngIf="additionals && additionals.length">
      <ion-col col-4>Adicionais</ion-col>
      <ion-col col-8 class="col-icon-align size-additional">
        <ion-icon name="custom-{{additional}}" *ngFor="let additional of additionals"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="row-product border-bottom">
      <ion-col col-4>Quantidade</ion-col>
      <ion-col col-8 class="col-input-qnt">
        <ion-icon name="custom-less" (click)="lessQuantity()"></ion-icon>
        <label class="color-light-coffee">{{quantity}}</label>
        <ion-icon name="custom-plus" (click)="plusQuantity()"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="row-button">
      <button ion-button block color="light-coffee" (click)="goCart()">Colocar no carrinho</button>
    </ion-row>
  </ion-grid>
</ion-content>